.ld
{
padding: 0px 30px 30px 30px;
}
.big
{
padding-bottom: 90px;
display: flex;
align-items: flex-start;
flex-direction: row;
justify-content: center;
}
.small1
{
position: relative;
top:0px;
display:inline-block;
padding: 30px;
width: 1000px;
height: 800px;
}
.small2
{
width: 600px;
height: 800px;
display:inline-block;
padding: 30px 30px 30px 100px;
}
.photo
{
padding-top: 0px;
}
.b1
{
display: inline-block;
padding-left: 200px;
position: relative;
bottom: ;
}
.b2
{
display: inline-block;
padding-left: 100px;
position: relative;
bottom: ;
}
.flip-container {
perspective: 1000;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
transform: rotateY(180deg);
}
.flip-container, .front, .back {
width: 320px;
height: 240px;
}
/* flip speed goes here */
.flipper {
transition: 0.6s;
transform-style: preserve-3d;
position: relative;
}
/* hide back of pane during swap */
.front, .back {
backface-visibility: hidden;
position: absolute;
top: 0;
left: 0;
}
/* front pane, placed above back */
.front {
z-index: 2;
}
.pp
{
border-radius: 20px;


}
/* back, initially hidden pane */
.back {
border-radius: 20px;
width: 320px;
height: 180px;
background-color: rgba(255,255,255,0.2);
transform: rotateY(180deg);
font-size:25px;
color:#D66C44;
}
.back.bb {
text-align: center;
padding-top: 35px;
}

/* Style the header with a grey background and some padding */
.pic1
{
width: 100%;
border-radius: 50%;
align-items: center;
}
div
img.pic1 {
overflow:hidden;
}
div
img.pic1{
transform:scale(1,1);transition:all 1s ease-out;
}
div
img.pic1:hover{
transform: scale(1.5,1.5);
}
.logo
{
display: inline-block;
width: 300px;
position: relative;
top:0px;
left:600px;
}
.logo2
{
width: 500px;
display: inline-block;
right:-890px;
top:15px;
position: relative;
bottom: ;
}
.logo3
{
top:260px;
display: inline-block;
right:-30px;
position: relative;
}
.logo4
{
top:180px;
display: inline-block;
right: 0px;
position: relative;
}
.pic53
{
	width: 150px;
}
.pic52
{
	border-radius: 20px;
	width: 100%;
}
.piclove
{
	border-radius: 20px;
	width: 50%;
}
.font
{
font-size: 50px;
}
* {
box-sizing: border-box;
}
/* Set a background color */
body {
background-color: #474e5d;
font-family: Helvetica, sans-serif;
}
/* The actual timeline (the vertical ruler) */
.timeline {
position: relative;
max-width: 1200px;
margin: 0 auto;
}
/* The actual timeline (the vertical ruler) */
.timeline::after {
content: '';
position: absolute;
width: 6px;
background-color: white;
top: 0;
bottom: 0;
left: 50%;
margin-left: -3px;
}
/* Container around content */
.container {
padding: 10px 40px;
position: relative;
background-color: inherit;
width: 50%;
}
/* The circles on the timeline */
.container::after {
content: '';
position: absolute;
width: 25px;
height: 25px;
right: -17px;
background-color: #83B1C9;
border: 4px solid #83B1C9;
top: 15px;
border-radius: 50%;
z-index: 1;
}
/* Place the container to the left */
.left {
left: 0;
}
/* Place the container to the right */
.right {
left: 50%;
}
/* Add arrows to the left container (pointing right) */
.left::before {
content: " ";
height: 0;
position: absolute;
top: 22px;
width: 0;
z-index: 1;
right: 30px;
border: medium solid white;
border-width: 10px 0 10px 10px;
border-color: transparent transparent transparent #A3B6C5;
}
/* Add arrows to the right container (pointing left) */
.right::before {
content: " ";
height: 0;
position: absolute;
top: 22px;
width: 0;
z-index: 1;
left: 30px;
border: medium solid white;
border-width: 10px 10px 10px 0;
border-color: transparent #A3B6C5 transparent transparent;
}
/* Fix the circle for containers on the right side */
.right::after {
left: -16px;
}
/* The actual content */
.content {
padding: 20px 10px;
background-color: #A3B6C5;
position: relative;
border-radius: 6px;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
.timeline::after {
left: 31px;
}
/* Full-width containers */
.container {
width: 100%;
padding-left: 70px;
padding-right: 25px;
}
/* Make sure that all arrows are pointing leftwards */
.container::before {
left: 60px;
border: medium solid white;
border-width: 10px 10px 10px 0;
border-color: transparent white transparent transparent;
}
/* Make sure all circles are at the same spot */
.left::after, .right::after {
left: 15px;
}
/* Make all right containers behave like the left ones */
.right {
left: 0%;
}
}
.skillbox{
padding-left: 3%;
padding-right: 3%;
box-sizing: border-box;
width: 100%;
margin: 20px 0;
}
.p1{
color: #8080C0;
margin: 0 0 10px;
padding: 0;
font-weight: bold;
letter-spacing: 1px;
}
.p2{
color: #ffffff;
margin: 0 0 10px;
padding: 0;
font-weight: bold;
letter-spacing: 1px;
}
.skillbox .2{
color: #8080C0;
margin: 0 0 10px;
padding: 0;
font-weight: bold;
letter-spacing: 1px;
}
.skillbox p:nth-child(2){
float: right;
}
.skill{
background-color: white;
padding: 4px;
box-sizing: border-box;
border: 1px solid white;
border-radius: 15px;
}
.skill_level{
background: #BFC8D7;
width: 100%;
height: 25px;
border-radius: 15px;
}
.html{
width: 70%;
animation: html 2s;
}
.java{
width: 50%;
animation: java 2s;
}
.python{
width: 60%;
animation: python 2s;
}
.c{
width: 55%;
animation: c 2s;
}
.ve{
width: 90%;
animation: ve 2s;
}
.exp
{
font-family: 'cutee';
font-size: 35px;
text-align: center;
padding-bottom: 25px;
color:#8080C0;
font-weight: bold;
}
.exp.ee
{

color:#38618F;

}
.exp1
{  
padding-top: 400px;
font-family: 'cutee';
font-size: 35px;
text-align: center;
padding-bottom: 25px;
color:#CE8467;
font-weight: bold;
}
.exp2
{  

font-family: 'cutee';
font-size: 35px;
text-align: center;
padding-bottom: 25px;
color:#CE8467;
font-weight: bold;
}
@keyframes html{
0%{
width: 0%;
}
100%{
width: 70%;
}
}
@keyframes java{
0%{
width: 0%;
}
100%{
width: 50%;
}
}
@keyframes python{
0%{
width: 0%;
}
100%{
width: 60%;
}
}
@keyframes c{
0%{
width: 0%;
}
100%{
width: 55%;
}
}
@keyframes ve{
0%{
width: 0%;
}
100%{
width: 90%;
}
}
@font-face {
font-family: 'Big_Marker';
src: url('Big_Marker.ttf') ;
}
@font-face {
font-family: 'cutee';
src: url('cutee.otf') ;
}
.c1
{display: inline-block;
padding-top: 50px;
position: relative;
bottom: ;
padding-left: 50px;
}
.c2
{display: inline-block;
padding-left: 50px;
position: relative;
bottom: ;
padding-top: 50px;
}
.c3
{display: inline-block;
padding-left: 50px;
position: relative;
bottom: ;
}
.c4
{display: inline-block;
padding-left: 50px;
position: relative;
bottom: ;
}
.f1
{
text-align: center;
font-size: 30px;
color:#AF8F90;
font-weight: bold;
}
.bt
{ 

position: relative;
top:250px;
left: -150px;
background-color:transparent;
border: 3px white solid; /* 去掉邊框 */
color: #1D6A96; /* 字改成白色 */
font-size: 20px; /* 改字體大小 */
padding: 10px; /* 按鈕內邊距離 */
width: 130px;
height:60px;  /* 按鈕寬度 */
border-radius: 5px; /* 圓角5px */ 
}

.bt span
{
transition: 0.5s; /* 過渡0.5秒 */
text-shadow: 0 1px 1px rgba(0,0,0,.4),0 1px 2px rgba(0,0,0,.2);

}
.bt:hover
{
	background-color: #FEF5DA;
}
.bt:hover span
{
padding-right: 25px; 
/* 當鼠標在按鈕上時span內邊右距離25px */
}
.bt span:after{ 
	content: "»"; /* span後面追加內容為» */
opacity: 0; /* 透明度為0 */
transition: 0.5s; /* 加個0.5秒的過渡 */
}
.bt:hover span:after
{
opacity: 1; /* 透明度為1，就是顯示 */
}

.bt2
{ 
position: relative;
top:250px;
left: -140px;
background-color:transparent;
border: 3px white solid; /* 去掉邊框 */
color: #1D6A96; /* 字改成白色 */
font-size: 20px; /* 改字體大小 */
padding: 10px; /* 按鈕內邊距離 */
width: 130px;
height:60px;  /* 按鈕寬度 */
border-radius: 5px; /* 圓角5px */ 
}

.bt2 span
{
transition: 0.5s; /* 過渡0.5秒 */
text-shadow: 0 1px 1px rgba(0,0,0,.4),0 1px 2px rgba(0,0,0,.2);

}
.bt2:hover
{
	background-color: #FEF5DA;
}
.bt2:hover span
{
padding-right: 25px; 
/* 當鼠標在按鈕上時span內邊右距離25px */
}
.bt2 span:after{ 
	content: "»"; /* span後面追加內容為» */
opacity: 0; /* 透明度為0 */
transition: 0.5s; /* 加個0.5秒的過渡 */
}
.bt2:hover span:after
{
opacity: 1; /* 透明度為1，就是顯示 */
}

.bt3
{   
	position: relative;
	top:250px;
	left:-130px;
	background-color: none;
	border:none;
	width: 70px;
	z-index: 5;
}
.bt4
{   
	position: relative;
	top:250px;
	left:-120px;
	background-color: none;
	border:none;
	width: 70px;
	z-index: 5;
}